---
layout: page
title: "About"
description: "Hey, this is Siyuan Gao."
header-img: "img/about-bg.jpg"
---

<div class="en post-container">
    <blockquote><p>Yet another Frontend Engineer. <br>
    Yet another Lifelong Designer.</p></blockquote>

    <p>
        Hi, my name is <b>Siyuan Gao (高思远)</b>. My first name is pronounced pretty much as See Young, but it's still hard to remember, so you are also welcome to call me <b>Ricky</b>. 
    </p>
    
    <p>
        I was born in Zibo, China, and left my hometown for college in Hangzhou, China, where I finished my bachelor degree in Zhejiang University. <a href="http://www.zju.edu.cn/english/">Zhejiang University</a> is one of the most prestigious universities in China. For now, I will join <a href="http://www.yale.edu/">Yale Univeristy </a> as a Ph.D. student in the summer of 2016. Keep updated with this website to see more of my future life in Yale. 
    </p>

    <h5>Resumes</h5>

    <ul>
    <li><a href="/attach/2016_06_CV_Siyuan_Gao.pdf">2016_Siyuan_Gao</a></li>
    </ul>
</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"siyuangao"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
{% endif %}
