---
layout: photo
title: Misc
photography:
- grad:
  title: Graduation
  image:
  - image_path: /img/photography/grad/1.jpg
    category: grad
  - image_path: /img/photography/grad/2.jpg
    category: grad
  - image_path: /img/photography/grad/3.jpg
    category: grad
  - image_path: /img/photography/grad/4.jpg
    category: grad
  - image_path: /img/photography/grad/5.jpg
    category: grad
- SAC:
  title: Sacramento
  image:
  - image_path: /img/photography/SAC/tower.jpg
    category: SAC
  - image_path: /img/photography/SAC/bridge.jpg
    category: SAC

header-img: "img/bg/home-bg-art.jpg"


---


<!-- <style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  .item-image {
  padding-bottom: 50%; /* here the desired aspect ratio */
}
</style> -->
<!-- {% for cat in page.photography %}
  <section class="no-padding" id="portfolio">
    <div class="container">
      <div class="row no-gutter">
        <div class="text-left">
          <h2>{{cat.title}}</h2>
          <hr class="small-margin">
        </div>
        {% for item in cat.image %}
        <div class="col-lg-2">
          <a href="{{ item.image_path }}" data-lightbox="{{item.category}}">
            <img  src="{{ item.image_path }}" class="img-thumbnail image-responsive" alt="{{ item.project }}" >
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>  
{% endfor %} -->
<div class="container">
  <ul>
    <li><h2>Graduation</h2>
      <hr class="small-margin">
      <div class="row">
        <div class="col-sm-4 misc-image">
          <a href="/img/photography/graduation.jpg" data-lightbox="grad">
            <img  src="/img/photography/graduation.jpg" class="img-thumbnail image-responsive" alt="image" >
          </a> 
        </div>
          <p>
          Graduated from Zhejiang University in the summer of 2016. And I took this interesting pic in a classroom of Zijingang Campus with a slogan on the blackboard "The scope for this exam is infinite". <br>
          Actually, as a student major in math, most of our exams are about proving theorems and we often feel that there are too many theorems for us to understand.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>