---
layout: photo
title: Photography
photography:
- grad:
  title: Graduation
  image:
  - image_path: /img/photography/grad/1.jpg
    category: grad
  - image_path: /img/photography/grad/2.jpg
    category: grad
  - image_path: /img/photography/grad/3.jpg
    category: grad
  - image_path: /img/photography/grad/4.jpg
    category: grad
  - image_path: /img/photography/grad/5.jpg
    category: grad
- SAC:
  title: Sacramento
  image:
  - image_path: /img/photography/SAC/tower.jpg
    category: SAC
  - image_path: /img/photography/SAC/bridge.jpg
    category: SAC

header-img: "img/bg/home-bg-art.jpg"


---


<style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h2 {
      font:bold;
      font-size: 30px;   
      letter-spacing: 3px;
      color: #778;
  }
  .item-image {

  padding-bottom: 50%; /* here the desired aspect ratio */
}
</style>
{% for cat in page.photography %}
  <section class="no-padding" id="portfolio">
    <div class="container">
      <div class="row no-gutter">
        <div class="text-left">
          <div class="page-header">
            <h2>{{cat.title}}</h2>
          </div>
        </div>
        {% for item in cat.image %}
        <div class="col-lg-2">
          <a href="{{ item.image_path }}" data-lightbox="{{item.category}}">
            <img  src="{{ item.image_path }}" class="img-thumbnail image-responsive" alt="{{ item.project }}" >
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>  
{% endfor %}
