<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="font-size:24px; color:#03cc85;font-family:Lato;font-weight:700;font-style:normal;" class="navbar-brand" href="{{ site.baseurl }}/">
            {{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="myNavbar">
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/misc">Misc</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- <div class="container-fluid header-banner text-center">                    
    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
</div> -->
